<app-navigation></app-navigation>
<div *ngIf="this.SessionServiceService.loggedIn == true">
  <div class="container-fluid splash">
    <div class="row">
      <div class="col-12">
        <div class="container">
          <div class="row">
              <div class="col-12">
                <h3>Welcome to the Badge Book System {{this.SessionServiceService.userData.Data.UserData.FirstName}} :)</h3>
              </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 TextCenter">
              <div class="card cardOptions" (click)="switchPref()">
                <div class="menuOptionFrame clickable menuOption1">
                  <i class="fa fa-user"></i> <br>
                  <h4>Preferences</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 TextCenter">
              <div class="card cardOptions" >
                <div class="menuOptionFrame clickable menuOption2" (click)="switchEditProfile()">
                  <i class="fa fa-star"></i> <br>
                  <h4>Edit Profile</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 TextCenter">
              <div class="card cardOptions">
                <div class="menuOptionFrame clickable menuOption3" (click)="switchSearch()">
                  <i class="fa fa-search"></i> <br>
                  <h4>Search</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 TextCenter">
              <div class="card cardOptions">
                <div class="menuOptionFrame clickable menuOption4" (click)="switchToInbox()">
                  <i class="fa fa-inbox"></i> <br>
                  <h4>Inbox</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid backgroundSmoke">
  <div class="row">
    <div class="col-12">
      <div *ngIf="this.DashrouteService.dashRoute == 'preferences'">
        <app-preferences></app-preferences>
      </div>
      
      <div *ngIf="this.DashrouteService.dashRoute == 'editProfile'">
        <app-edit-profile></app-edit-profile>
      </div>

      <div *ngIf="this.DashrouteService.dashRoute == 'search'">
        <app-search></app-search>
      </div>

      <div *ngIf="this.DashrouteService.dashRoute == 'inbox'">
        <app-inbox></app-inbox>
      </div>
    </div>
  </div>
</div>
