<nav class="navbar navbar-expand-md navbar-dark elegant-color">
    <a class="navbar-brand" href="#">BadgeBook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" *ngIf="!SessionServiceService.loggedIn">
                <a class="nav-link waves-effect waves-light" routerLink="/login">Login <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" *ngIf="SessionServiceService.loggedIn">
                <a class="nav-link waves-effect waves-light" routerLink="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item" *ngIf="SessionServiceService.loggedIn && SessionServiceService.role=='Admin'">
                <a class="nav-link waves-effect waves-light" routerLink="/admin-dashboard">App Dashboard</a>
            </li>
            <li class="nav-item" *ngIf="SessionServiceService.loggedIn">
                <a class="nav-link waves-effect waves-light" (click)="logout()">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" routerLink="/search">Search</a>
            </li>
        </ul>
    </div>
</nav>