<app-navigation></app-navigation>

<div class="container" *ngIf="!response">
  <br />
  <div class="form-group">
    <label for="name">App Name:</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="user.Name">
  </div>
  <div class="form-group">
    <label for="desc">App Description:</label>
    <input type="text" class="form-control" id="desc" [(ngModel)]="user.Description">
  </div>
  <div class="form-group">
    <label for="lurl">Logo Url:</label>
    <input type="text" class="form-control" id="lurl" [(ngModel)]="user.ImageUrl">
  </div>
  <div class="form-group">
    <label for="appurl">App Url:</label>
    <input type="text" class="form-control" id="appurl" [(ngModel)]="user.AppUrl">
  </div>

  <button (click)="registerApp()" class="btn btn-success btn-block">Register</button>
</div>
<div class="container" *ngIf="response">
  <h1>Congratulations! Your app was successfuly registered.</h1>
  <h3>Here are the next steps for you to do:</h3>
  <li>Login button for your app:</li>
  <code>
      &lt;a class=&quot;btn btn-info&quot; id=&quot;login_link&quot; href=&quot;https://badgebookfront.azurewebsites.net/#/login/{{result.appId}}&quot;&gt;Login&lt;/a&gt;
    </code>
  <li>App id for badge management: <code>{{result.appId}}</code></li>

  <li>App token for badge management: <code>{{result.appToken}}</code></li>
</div>

<br />
<br />