.cardCenter {
    text-align:center;
}

.loginFrame {
    margin-top:50px;
    padding:50px;
    min-height:500px;
}

.textLoginTitle {
    margin-bottom:50px;
}

.loginbtn{
    width:50%;
    height:50px;
}