.gender {
    color:magenta;
}

.widthImage {
    width:100%;
}

.boldit {
    font-weight:500;
}

.containerMargin {
    margin-top:20px;
}
.background {
    height:100vh;
    background: url('https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX14553500.jpg');
    background-size: contain;
    background-repeat: repeat;
}

.clickable {
    cursor: pointer;
}

.borderframe {
    padding:5px;
    width:100%;
    margin-top:5px;
    text-align:center;
    border:1px black solid;
}

#description {
    max-width:100%;
}
